.hero-div{
    color: white;
}

.hero-heading{
     word-spacing: 100vw;
     margin:auto;
}

.social-links{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: orange;
    border: 0.5px solid orange;
    padding: 8px;
    cursor: pointer;
}

.customer-logo{
    width: 100px;
    height: 85px;
    color: white;
    opacity: 1;
    background-blend-mode: hard-light;
}
